@model IEnumerable<WebApplication1.Models.Billing>
@{

    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>project bills</title>




    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>



    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>





    @*devextreme*@
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/20.1.3/js/dx.all.js"></script>
    @*devextreme*@


    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
    <script src="~/Scripts/AjaxHelper.js"></script>
    <script src="~/Scripts/ChartsHelper.js"></script>

    <style>
        .select2 .select2-container .select2-container--default .select2-container--below .select2-container--focus {
            width: 405px;
        }


        .select2-search__field {
            height: 32px;
        }
    </style>

</head>
<body style="background-color:#add8e6">

    <div class="container">

        <div class="row">
            <div class="col-md-12">



                @{
                    Html.RenderPartial("~/Views/Shared/navBar.cshtml");
                }

                <h3 style="text-align:center">Project Billing Details</h3>
                @*<a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal">Add</a>*@

                <button class="BtnEdit" id="0">Add</button>

                <div id="BankList">

                    @{
                        Html.RenderPartial("~/Views/Billing/projectBills_.cshtml");
                    }

                </div>

            </div>

        </div>

    </div>
    <div id="ModelPop4Bill"></div>
    <script>
        $(document).ready(function () {


            $('#myTable').DataTable();

            $("body").on("click", ".BtnEdit", function () {
                debugger;
                var id = $(this).attr("id");
                var isMove = $(this).attr("isMove");
                if (isMove == '1') {
                    $.get("/Billing/AddProjectBill/" + id, function (data) {
                        debugger;
                        $("#ModelPop4Bill").html(data);
                        $("#myModal").modal("show");
                        $("#toggle-one").bootstrapToggle();
                        //$('.select2').select2();
                        //$(".select2-selection--single").css("width", "460px");
                        if (id > 0) {
                            //Bill_id

                            $('body input:not(#Bill_id)').prop('readonly', false);
                            $('body select').prop('disabled', false);
                            $('body textarea').prop('readonly',false);
                            $('body .modal-title').text('Move To Verify');
                            $('body #imgDiv').show();
                            $('form').attr('action', '/Billing/Add/0');
                            $('body #Bill_id').val("000"+(parseInt($("body #verifyBillsId").val())+1))
                            $('<button type="submit" id="submit_" class="btn btn-primary">Submit</button>').insertAfter('body #imgDiv');
                        }
                    })
                } else {
                    $.get("/Billing/AddProjectBill/" + id, function (data) {
                        debugger;
                        $("#ModelPop4Bill").html(data);
                        $("#myModal").modal("show");
                        $("#toggle-one").bootstrapToggle();
                        if (id == 0) {
                            $('.select2').select2();
                            $(".select2-selection--single").css("width", "460px");
                        }

                        if (id > 0) {

                            $("#imgDiv").hide();
                            $('body input:not(input[type=search])').prop('readonly', true);
                            $('body textarea').prop('readonly', true);
                            $('body .modal-title').text('View Billing Details');
                            $('body select:not(select[name="myTable_length"])').prop('disabled', true);

                        }
                    })
                }
                //$('.select2').select2();
            })




            $("body").on("click", "#submit", function () {
                debugger;

                //var fields = {};
                //var files = $("#img").get(0).files;
                //fields[this.name] = $(this).val();
                //fields[this.name] = $(this).val();
                //formData.append("ImageFile", files[0]);

                //formData.append("ImagePath", files[0].name);

                //var fields = {};
                //$("#frm").find(":input").each(function () {

                //    fields[this.name] = $(this).val();
                //});
               // var obj = { data: fields };



                var data = $("#frm").serialize();
                var async = false;
                var dataType = "JSON";
                var postType = "POST";
                var Controller = "Billing";
                var Method = "AddUnv"
                //if (!ValueExistIndicator(null, isValueExistinDb(data, "2"))) {
                //    debugger;
                //    return false;
                //}
                if (false) {

                }
                else {
                $.ajax({
                    type: postType,
                    url: "/" + Controller + "/" + Method,
                    datatype: dataType,
                    data: { data: fields },
                    success: function (d) {
                        debugger;
                        $("#BankList").html(d);
                        $("#myModal").modal("hide");
                    },

                    error: function (error) {
                        debugger;
                        console.log(error);
                    }
                });
            }
                   //------//

                })




        });//document.ready end
        function isValueExistinDb(Value, type) {

            debugger;
            var result = false;
            $.ajax({
                url: "/isValueExistinDb/isExistBankData",
                dataType: "Json",
                type: "Post",
                data: Value,
                async: false,
                success: function (response) {
                    debugger;
                    result = response == true ? true : false;
                },

                error: function (error) {
                    debugger;
                    console.log(error);
                }


            });
            return result;
        }
        function ValueExistIndicator(inputid, TrueOrFalse) {
            debugger;
            if (TrueOrFalse) {
                alert("Value already exist.");
                return false;
            } else {
                return true;

            }
        }

    </script>

</body>
</html>
